@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.number-ring::-webkit-inner-spin-button {
  display: none;
}
@layer components {
  /* Define your repeating class */
  .container {
    @apply mx-auto px-2 md:p-2 lg:px-10;
    max-width: calc(100% - 10px);
  }
  .container--narrow {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
    max-width: 1024px;
  }
  .inputFormClass {
    @apply invalid:focus:border-red-400 valid:focus:border-green-400 h-[2.5em] w-full md:px-2 rounded-[5px] border py-2 font-sans font-extralight outline-none outline-[.2px] transition-all focus:border-blue-500 focus:outline-0 sm:w-full px-1;
  }
  .table-header {
    @apply border px-4 py-2;
  }
}

/* Apply the class to multiple variants */
@layer utilities {
  .container {
    /* Styles for hover and focus variants */
  }
}

@layer layer {
  .container {
    /* Styles for layer variants */
    @apply mx-auto px-20 sm:px-2;
    max-width: 100%;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}

.message__container {
  background-image: url('./assets/back.jpg');
}
.user__circle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
