@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.number-ring::-webkit-inner-spin-button {
  display: none;
}
@layer components {
  /* Define your repeating class */
  .container {
    @apply mx-auto px-2 md:p-2 lg:px-10;
    max-width: calc(100% - 10px);
  }
  .container--narrow {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
    max-width: 1024px;
  }
  .inputFormClass {
    @apply invalid:focus:border-red-400 valid:focus:border-green-400 h-[2.5em] w-full md:px-2 rounded-[5px] border px-3 py-2 font-sans font-extralight outline-none outline-[.2px] transition-all focus:border-blue-500 focus:outline-0;
  }
}

/* Apply the class to multiple variants */
@variants hover, focus {
  .container {
    /* Styles for hover and focus variants */
  }
}

@variants responsive {
  .container {
    /* Styles for responsive variants */
    @apply mx-auto px-20 sm:px-2;
    max-width: 100%;
  }
}
